@page "/listsymbols"
@using BlazorApp.Shared
@using BlazorApp.Shared.CoreDto
@inject HttpClient Http

@*<PageTitle>@(Properties.Resources.ACC_TYPE) - @(Properties.Resources.ACC_HOLDER) - SYMBOLS STATUS</PageTitle>*@

@if (symbols == null)
{
    <div class="spinner"></div>
}
else
{
    if (spinner)
    {
        <div class="spinner"></div>
    }
    else if (symbols != null)
    {
        <div name="row-header" class="row my-1 py-1">
            <div class="d-block d-inline col-lg-3 col-md-3 col-sm-4 col-4 text-uppercase text-end">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">List symbols</label>
                    </div>
                    <select class="custom-select" id="SearchSymbolId" name="SearchSymbol" @onchange="SelectedSymbolChanged">
                        <option selected>@(string.Empty)</option>
                        @foreach (var symbol in symbolsInString)
                        {
                            <option value="@symbol">@symbol</option>
                        }
                    </select>
                </div>
            </div>
            <div class="d-block d-inline col-lg-4 col-md-5 col-sm-4 col-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Or</label>
                    </div>
                    <input type="text" class="form-control textbox-parameters" value="@_currentSymbol" @onchange="this.OnValueChanged" placeholder="Enter symbol here if you know it">
                </div>
            </div>
            <div class="d-block d-inline col-lg-5 col-md-5 col-sm-4 col-4">
                @if (!string.IsNullOrEmpty(@_currentSymbol))
                {
                    <p>Current observed symbol : @_currentSymbol</p>
                }
            </div>
        </div>

        <div class="container m-0">
            @foreach (var symbol in symbols)
            {
                <div name="row-content" class="row my-1 py-1 align-self-baseline border border-secondary ">
                    <div class="d-block d-inline col-lg-2 col-md-2 col-sm-4 col-4 align-self-center text-center"><a href="@($"https://www.binance.com/en/trade/{@symbol.SymbolBase}_{symbol.SymbolQuote}")" target="_blank">@symbol.SymbolName<br />(@symbol.SymbolType)</a></div>
                    <div class="d-block d-inline col-lg-10 col-md-10 col-sm-8 col-8">
                        <div class="row align-self-center">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row align-self-center">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        Base : @symbol.SymbolBase
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        StepSize : @symbol.SymbolStepSizeBase
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row align-self-center">
                                    <div class="col-lg-6 col-md-6 col-12">Min : @symbol.SymbolMinQuantityBase</div>
                                    <div class="col-lg-6 col-md-6 col-12">Max : @symbol.SymbolMaxQuantityBase</div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-self-center">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row align-self-center">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        Quote : @symbol.SymbolQuote
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        StepSize : @symbol.SymbolStepSizeQuote
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row align-self-center">
                                    <div class="col-lg-6 col-md-6 col-12">Min : @symbol.SymbolMinQuantityQuote</div>
                                    <div class="col-lg-6 col-md-6 col-12">Max : @symbol.SymbolMaxQuantityQuote</div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-self-center">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row align-self-center">
                                    <div class="col-lg-6 col-md-6 col-12">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        Average Price Minutes : @symbol.SymbolAveragePriceMinutes
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row align-self-center">
                                    <div class="col-lg-6 col-md-6 col-12">Multiplier Down : @symbol.SymbolMultiplierDown</div>
                                    <div class="col-lg-6 col-md-6 col-12">Multiplier Up : @symbol.SymbolMultiplierUp</div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-self-center">

                            @if (@symbol.LastKlineReceived.HasValue)
                            {
                                @if ((DateTime.Now - symbol.LastKlineReceived.Value) > TimeSpan.FromMinutes(15))
                                {
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <p class="text-danger">Last received kline: @symbol.LastKlineReceived.Value.ToString("dd/MM/yyyy HH:mm:ss")</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-6 col-md-6 col-12">
                                        Last received kline: @symbol.LastKlineReceived.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-lg-6 col-md-6 col-12">Last received kline: </div>
                            }

                            @if (@symbol.LastTmpKlineReceived.HasValue)
                            {
                                <div class="col-lg-6 col-md-6 col-12">
                                    Last tmp received kline: @symbol.LastTmpKlineReceived.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6 col-md-6 col-12">Last tmp received kline: </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

@code {
    private bool spinner = false;

    private string _currentSymbol = string.Empty;

    private List<SymbolItemDto> symbols = new List<SymbolItemDto> { };
    private List<string> symbolsInString = new List<string>();

    private string _url = $"/api/GetListSymbolsWithBaseQuote?accType=Spot&accHolder=An";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            symbolsInString = await Http.GetFromJsonAsync<List<string>>($"/api/GetListStringSymbols?accType=Spot&accHolder=An");
            symbols = await Http.GetFromJsonAsync<List<SymbolItemDto>>(_url) ?? new List<SymbolItemDto> { };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private async void SelectedSymbolChanged(ChangeEventArgs e)
    {
        spinner = true;

        if (symbols != null)
        {
            if (!string.IsNullOrEmpty(e.Value.ToString()))
            {
                _currentSymbol = e.Value.ToString();
                symbols.Clear();
                symbols = await Http.GetFromJsonAsync<List<SymbolItemDto>>($"{_url}&symbolName={e.Value.ToString()}");
            }
            else
            {
                _currentSymbol = string.Empty;
                symbols.Clear();
                symbols = await Http.GetFromJsonAsync<List<SymbolItemDto>>($"{_url}");
            }
        }

        spinner = false;

        // Update the UI
        StateHasChanged();
    }

    private async void OnValueChanged(ChangeEventArgs e)
    {
        spinner = true;

        if (symbols != null)
        {
            if (!string.IsNullOrEmpty(e.Value.ToString()))
            {
                _currentSymbol = e.Value.ToString();
                symbols.Clear();
                symbols = await Http.GetFromJsonAsync<List<SymbolItemDto>>($"{_url}&symbolName={e.Value.ToString()}");
            }
            else
            {
                _currentSymbol = string.Empty;
                symbols.Clear();
                symbols = await Http.GetFromJsonAsync<List<SymbolItemDto>>($"{_url}");
            }
        }

        spinner = false;

        // Update the UI
        StateHasChanged();
    }
}
