@using BlazorApp.Shared.CoreDto;
@inherits LayoutComponentBase

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@


<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader Style="background-color: #ffffff">
        <div class="container-fluid" style="border: 0px none rgba(255, 255, 255, 0); padding-left: auto; padding-right: auto">
            <div class="row justify-content-start align-items-center" style="margin: 0px">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 d-flex align-items-center ps-0 pl-0">
                    <RadzenSidebarToggle Click="@SidebarToggleClick" Style="color: #000000; background-color: rgba(78, 78, 78, 0)"></RadzenSidebarToggle>
                </div>
                <TopBarPriceIndicator></TopBarPriceIndicator>
            </div>
            <div class="row col-12" style="margin: 0px; margin-top: 5px; margin-bottom: 5px; padding-left: 2px; padding-right: 2px">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 flex-column" style="display: inline-flex; text-align: center; padding: 0px">
                    <RadzenDropDown Data=@SymbolsInString
                                    TValue="string"
                                    AllowClear="true"
                                    AllowFiltering="false"
                                    Placeholder="@labelListSymbols"
                                    AllowSelectAll="false"
                                    Change=@(args => OnChange((string)args))>
                    </RadzenDropDown>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 d-inline-flex" style="background-color: rgba(255, 255, 255, 0.5)">
                    <RadzenText Text="Symbol " Style="margin-top: auto; margin-bottom: auto" />
                    <RadzenTextBox Style="padding: 10px; margin-left: 10px; margin-top: auto; margin-bottom: auto" @bind-Value="@SelectedSymbol"></RadzenTextBox>
                </div>
            </div>
            <div class="row col-12 justify-content-start align-items-center flex-row d-inline-flex" style="margin: 0px; margin-top: 5px; margin-bottom: 5px; padding-left: 2px; padding-right: 2px">
                <PanelSymbol Symbol=@SelectedSymbol></PanelSymbol>
            </div>
        </div>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded" Style="margin: 0px; padding: 0px">
        <div class="container-fluid" style="max-width: 1440px; padding: 0px">
            <div class="row col-12" style="margin: 0px; padding: 0px;">
                @Body
            </div>
        </div>
        <div class="row col-12" style="margin: 0px; padding-left: 5px; padding-right: 5px; margin-top: 5px; margin-bottom: 5px; padding-top: 5px; padding-bottom: 5px; padding: 0px">
            <RadzenPanel AllowCollapse="true" Collapsed="@panelLogCollapsed" Style="padding-right: auto; padding-left: auto">
                <HeaderTemplate>
                    <div class="row" style="padding: 0px; margin: 0px; padding-top: 5px; padding-bottom: 5px; max-width: 100%; width: 100%">
                        <div class="col-12 d-inline-flex" style="padding: 0px; margin: 0px; width: 100%; max-width: 100%">
                            <div class="d-lg-inline-flex d-md-inline-flex col-lg-2 col-md-1 col-sm-0 col-xs-0 d-none" style="padding: 0px; width: 100%; max-width: 100%; text-align: center; vertical-align: middle">
                                <RadzenText Text="Logs" Style="width: 100%; vertical-align: middle; margin-top: auto; margin-bottom: auto" TextAlign="Radzen.TextAlign.Left" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 d-inline-flex" style="margin: auto; padding-left: 5px; padding-right: 5px"><RadzenButton Style="width: 100%; max-width: 100%; padding: 0px" Variant="@(_onlyLogTrading ? Radzen.Variant.Filled : Radzen.Variant.Outlined)" Text="Trading" Size="Radzen.ButtonSize.Medium" Click="@ButtonLogTradingClick"></RadzenButton></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 d-inline-flex" style="margin: auto; padding-left: 5px; padding-right: 5px"><RadzenButton Variant="@(_onlyLogTradingInfos ? Radzen.Variant.Filled : Radzen.Variant.Outlined)" Style="width: 100%; max-width: 100%; padding: 0px" Text="Trading infos" Size="Radzen.ButtonSize.Medium" Click="@ButtonLogTradingInfosClick"></RadzenButton></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 d-inline-flex" style="margin: auto; padding-left: 5px; padding-right: 5px"><RadzenButton Style="padding: 0px; max-width: 100%; width: 100%" Variant="@(_allLogs ? Radzen.Variant.Filled : Radzen.Variant.Outlined)" Size="Radzen.ButtonSize.Medium" Text="All logs" Click="@ButtonAlLogsClick"></RadzenButton></div>
                        </div>
                    </div>
                </HeaderTemplate>
                <ChildContent>
                    <RadzenDataGrid TItem="LogInfoItemDto" Data=@_logs AllowPaging="true" Responsive="true" AllowPickAllColumns="false" AllowRowSelectOnRowClick="false" PagerAlwaysVisible="true" PageSizeText="20" class="overflow-auto" Page="DataGridLogsPageChanged">
                        <Columns>
                            <RadzenDataGridColumn Width="180px" TItem="LogInfoItemDto" Property="LogTime" Title="Date"></RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="110px" TItem="LogInfoItemDto" Property="AccountHolder" Title="Holder"></RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="150px" TItem="LogInfoItemDto" Property="Service" Title="Service"></RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="130px" TItem="LogInfoItemDto" Property="Symbol" Title="Symbol"></RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="LogInfoItemDto" Property="Message" Title="Message"></RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </ChildContent>
            </RadzenPanel>
        </div>
    </RadzenBody>
    <RadzenSidebar Expanded="@sidebarExpanded" style="z-index: 2; border: 0px none rgba(0, 0, 0, 0)">
        <div class="py-3 py-lg-4" style="color: var(--rz-primary-light); padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border); display: flex; flex-direction: column; gap: 1rem; align-items: center;">
            <RadzenImage Path="\images\lightbulb-64.png"></RadzenImage>
            <RadzenText Text="Binance trade bot monitor" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="mb-0" style="color: var(--rz-primary-light); text-transform: uppercase" />
            <RadzenLink Target="blank" Path="https://accounts.binance.com/en/register?ref=81888709" Text="Join me ?">
                <RadzenText Text="Join me ?" TextStyle="Radzen.Blazor.TextStyle.Body1" class="mb-0" style="color: var(--rz-primary-light);" TextAlign="Radzen.TextAlign.Center" />
            </RadzenLink>
        </div>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Path="/" />
          <RadzenPanelMenuItem Text="Account An" Path="/An" />
            <RadzenPanelMenuItem Text="Account Samuel" Path="/Samuel" />
            <RadzenPanelMenuItem Text="Account Tam" Path="/Tam" />
            <RadzenPanelMenuItem Text="Account Yannick" Path="/Yannick" />
            @*<RadzenPanelMenuItem Text="Login" Path="/login" />
            <RadzenPanelMenuItem Text="Logout" Path="/logout" />*@
        </RadzenPanelMenu>
        <div class="py-3 py-md-4" style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="Copyright Ⓒ 2023" TextStyle="Radzen.Blazor.TextStyle.Caption" class="mb-0" style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
        </div>
    </RadzenSidebar>
</RadzenLayout>
